<div>
    <p>{{ Count }}</p>
    <button v-on:click="IncrementCount()">Increment Count</button>
    <input type="text" v-model="UserInput" />
    <button v-on:click="SetLabel()">Set Label</button>
    <div>{{ LabelText }}</div>
</div>